---
layout: page
title: tags
icon: "fa-solid fa-tags fa-fw"
permalink: /tags.html
---

<article>
    <header><hgroup>
        <h1>
            <i class="{{ page.icon }}"></i>
            {{ page.title | capitalize }}
        </h1>
        <h2>Categorize by tags ...</h2>
    </hgroup></header>

    {% for tag in site.tags %}
    <details id="{{ tag[0] }}">
        <summary class="sticky-top">
            {{tag[0]}}
            ({{ tag[1].size }})
        </summary>
        {% for post in tag[1] %}
        <article onclick="location.href='{{ post.url }}'"><hgroup>
            <nav class="tag-cloud" aria-label="breadcrumb">
                <ul>
                    {% for tag in post.tags %}
                    <li><a href="/tags.html#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <small><em>{{ post.date | date:"%Y.%m.%d" }}</em></small>
            <h3>{{ post.title}}</h3>
            <h4><em>{{ post.sub-title }}</em></h4>
        </hgroup></article>
        {% endfor %}
    </details>
    {% endfor %}

    <footer>{% include comment.html %}</footer>
</article>

<!-- auxiliary scripts -->
<script>
    window.addEventListener("load", () => {
        // open details
        let tag = decodeURI(location.hash).substring(1)
        document.getElementById(tag).open = true
    })
</script>
