---
layout: default
title: home
required: with-header
---

{% assign edited = site.posts | where_exp:"post", "post.edited == true" %}
{% assign normal = site.posts | where_exp:"post", "post.edited != true" %}
{% assign posts = "" | split: "" %}

{% assign start_num = paginator.page | minus:1 | times:paginator.per_page %}
{% assign edited_num = edited.size | minus:start_num | at_least:0 %}
{% if edited_num > 0 %}
    {% for idx in (start_num..edited.size) limit:edited_num %}
        {% assign posts = posts | push:edited[idx] %}
    {% endfor %}
{% endif %}

{% assign start_num = start_num | minus:edited.size | at_least:0 %}
{% assign normal_num = paginator.posts.size | minus:edited_num %}
{% assign end_num = start_num | plus:normal_num | minus:1 %}
{% if normal_num > 0 %}
    {% for idx in (start_num..end_num) %}
        {% assign posts = posts | push:normal[idx] %}
    {% endfor %}
{% endif %}

{% for post in posts %}
<article class="post-card" {% if post.marked %}ribbon{% endif %}>
    {% if post.cover %}
    <div class="post-cover" data-aos="fade" style="background-image: url('{{ post.cover }}')"></div>
    {% endif %}
    <div class="post-title" data-aos="fade">
        <!-- tag cloud -->
        <nav aria-label="breadcrumb"><ul>
            {% for tag in post.tags %}
            <li><a href="/archive.html?tag={{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul></nav>
        <!-- post title -->
        <hgroup>
            <small><em>{{ post.date | date:"%Y.%m.%d" }}</em></small>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <h4><em>{{ post.subtitle }}</em></h4>
        </hgroup>
    </div>
</article>{% if forloop.index == edited_num %}<hr>{% endif %}
{% endfor %}

<nav class="post-paginator"><ul>
    <!-- previous page button -->
    <li><a id="prev-btn" data-aos="slide-left"
        {% if paginator.previous_page_path %}
        class="faa-parent animated-hover" href="{{ paginator.previous_page_path }}"
        {% else %}disabled{% endif %}
    ><i class="fa-solid fa-arrow-left faa-horizontal faa-reverse"></i></a></li>

    <!-- page selector -->
    <li><details class="dropdown" data-aos="fade-up">
        <summary>{{ paginator.page }} / {{ paginator.total_pages }}</summary>
        <ul>
            {% for i in (1..paginator.total_pages) %}
                {% if forloop.first %}
                <li><a href="{{ site.paginate_path | replace:'page:num/', '' }}">
                    {{ i }} / {{ paginator.total_pages }}
                </a></li>
                {% else %}
                <li><a href="{{ site.paginate_path | replace:':num', i }}">
                    {{ i }} / {{ paginator.total_pages }}
                </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </details></li>

    <!-- next page button -->
    <li><a id="next-btn" data-aos="slide-right"
        {% if paginator.next_page_path %}
        class="faa-parent animated-hover" href="{{ paginator.next_page_path }}"
        {% else %}disabled{% endif %}
    ><i class="fa-solid fa-arrow-right faa-horizontal"></i></a></li>
</ul></nav>
