---
layout: default
title: home
---

<div class="post-content">
    {% for post in paginator.posts %}
    <article class="card-gradient-hover">
        <!-- tag cloud -->
        <nav class="post-tags" aria-label="breadcrumb">
            <ul>
                {% for tag in post.tags %}
                <li><a href="/tags.html#{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <!-- post title -->
        <hgroup class="post-title" onclick="location.href='{{ post.url }}'">
            <small><em>{{ post.date | date:"%Y.%m.%d" }}</em></small>
            <h3>{{ post.title}}</h3>
            <h4><em>{{ post.subtitle }}</em></h4>
        </hgroup>
    </article>
    {% endfor %}
</div>

<!-- <footer> -->
<nav class="post-paginator"><ul>
    <!-- previous page button -->
    <li><a role="button" class="faa-parent animated-hover" href="{{ paginator.previous_page_path | relative_url }}">
        <i class="fa-solid fa-arrow-left faa-horizontal faa-reverse"></i>
    </a></li>

    <!-- page selector -->
    <li><details role="list">
        <summary aria-haspopup="listbox" role="button">{{ paginator.page }} / {{ paginator.total_pages }}</summary>
        <ul role="listbox">
            {% for i in (1..paginator.total_pages) %}
                {% if forloop.first %}
                <li><a href="{{ site.paginate_path | relative_url | replace:'page:num/', '' }}">
                    {{ i }} / {{ paginator.total_pages }}
                </a></li>
                {% else %}
                <li><a href="{{ site.paginate_path | relative_url | replace:':num', i }}">
                    {{ i }} / {{ paginator.total_pages }}
                </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </details></li>

    <!-- next page button -->
    <li><a role="button" class="faa-parent animated-hover" href="{{ paginator.next_page_path | relative_url }}">
        <i class="fa-solid fa-arrow-right faa-horizontal"></i>
    </a></li>
</ul></nav>
