.book {
    &-card {
        @extend .card;
        display: flex;

        @media (max-width: 420px) {
            flex-direction: column;
        }

        width: 100%;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;

        animation: unset;
    }

    &-img {
        display: inline-block;
        position: relative;
        margin: 0 0.5em;

        transition: all 0.2s ease;

        &:hover {
            transform: scale(1.1) rotate(-3deg);
        }

        .cover {
            width: 9vw;
            height: 12vw;
            min-width: 150px;
            min-height: 200px;
            object-fit: fill;
            box-shadow: 5px 5px 5px var(--pico-muted-border-color);
        }
    }

    &-info {
        display: inline-block;
        text-align: right;

        @media (max-width: 420px) {
            margin-top: 1em;
            text-align: center;
        }

        white-space: nowrap;
    }
}
