@use "./card";

.book {
    &-shelf {
        margin-bottom: 2.2rem;

        &[active] {
            margin-bottom: 0;
        }

        &>.book-card {
            &:first-of-type {
                box-shadow:
                    var(--pico-card-box-shadow),
                    0 0.5rem rgba(var(--pico-muted-border-color-rgb), 0.9),
                    0 1.0em rgba(var(--pico-muted-border-color-rgb), 0.6),
                    0 1.5rem rgba(var(--pico-muted-border-color-rgb), 0.3);

                transition: box-shadow 0.3s ease;
            }

            &:not(:first-of-type) {
                display: none;
            }
        }

        &[active]>.book-card {
            &:first-of-type {
                box-shadow: var(--pico-card-box-shadow);
            }

            &:not(:first-of-type) {
                display: flex;
            }
        }

        &:not([active]):hover {
            &>.book-card:first-of-type {
                box-shadow:
                    var(--pico-card-box-shadow),
                    0 0.6rem rgba(var(--pico-muted-border-color-rgb), 0.9),
                    0 1.2rem rgba(var(--pico-muted-border-color-rgb), 0.6),
                    0 1.8rem rgba(var(--pico-muted-border-color-rgb), 0.3);

            }
        }

        &-info {
            margin: 0.5rem auto;
            text-align: center;

            &::after {
                margin-left: 0.3rem;
                font-size: 0.6rem;
                content: "(" attr(data-count)")";
            }
        }
    }

    &-card {
        @include card.card;
        display: flex;
        width: 100%;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;

        animation: unset;

        @media (max-width: 420px) {
            flex-direction: column;
        }
    }

    &-img {
        display: inline-block;
        position: relative;
        margin: 0 0.5rem;
        border-radius: var(--pico-border-radius);
        overflow: hidden;

        transition: transform 0.3s ease, box-shadow 0.3s ease 0.1s;

        &:hover {
            box-shadow: 0 1rem 0.5rem -0.5rem var(--pico-muted-border-color);
            transform: translateY(-0.5rem);
        }

        .cover {
            width: 9vw;
            height: 12vw;
            min-width: 150px;
            min-height: 200px;
            object-fit: fill;
        }
    }

    &-info {
        display: inline-block;
        text-align: right;
        white-space: nowrap;

        @media (max-width: 420px) {
            margin-top: 1rem;
            text-align: center;
        }
    }
}
