.card {
    position: relative;

    animation: fadeIn 3s backwards;

    &-hover {
        @extend .card;

        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.02) translateY(-0.5em);
        }
    }

    &-gradient {
        @extend .card;
        background: linear-gradient(to right, var(--pico-card-background-color), var(--pico-card-sectioning-background-color));
    }

    &-gradient-hover {
        @extend .card-hover;
        @extend .card-gradient;
    }
}
