.card {
    animation: 3s fadeIn backwards;

    &-hover {
        @extend .card;

        transition: 0.5s transform ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &-gradient {
        @extend .card;
        background: linear-gradient(to right, var(--card-background-color), var(--card-sectionning-background-color));
    }

    &-gradient-hover {
        @extend .card-hover;
        @extend .card-gradient;
    }
}
