.controller {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    right: 0.5em;
    bottom: 1em;
    z-index: 5;
    
    transition: all 1s ease;

    button {
        border-radius: 4em;

        animation: fadeInRight 2s backwards;

        &:not([active]) {
            display: none;
        }
    }
}
