.controller {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    right: 0.5em;
    bottom: 1em;
    z-index: 5;

    transition: all 1s ease;

    button {
        text-align: center;
        align-content: center;
        height: 3em;
        aspect-ratio: 1;
        margin: 0.5em auto;
        border-radius: 50%;

        animation: fadeInRight 2s backwards;

        &:not([active]) {
            display: none;
        }

        &[inactivating] {
            animation: fadeOutRight 2s backwards;
        }
    }
}
