@use "../colors";

[ribbon]::after {
    position: absolute;
    top: -0.3rem;
    right: 1rem;
    width: 1.2rem;
    height: 1.6rem;
    background: colors.$nord13;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    content: "";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
    z-index: 2;

    animation: 1s fadeInDown 0.3s backwards;
    transition: transform 1s ease;
}

@mixin icon($color, $content) {
    position: absolute;
    top: 0;
    margin-left: 0.2rem;
    color: $color;
    font: var(--fa-font-solid);
    font-size: 0.5rem;
    content: $content;
}

[mark]::after {
    @include icon(colors.$nord13, "\f02e");
}

[edit]::after {
    @include icon(colors.$nord12, "\f111");
}

[heart]::after {
    @include icon(colors.$nord11, "\f004");
}

[drop-cap]::first-letter {
    font-size: 1.8rem;
    float: left;
    margin-right: 0.2rem;
}

[caption]::after {
    display: block;
    text-align: center;
    font-size: 80%;
    color: grey;
    content: attr(caption);
}

[outline] {
    border: 1px solid var(--pico-color);
    border-radius: var(--pico-border-radius);
    padding: 1rem;
}
