.travel-map {
    & {
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 50vh;
        @media (max-width: 420px) {
            height: 80vh;
        }

        &[active] {
            visibility: visible;

            animation: fadeIn 1s backwards;
        }
    }

    &-container {
        @extend .travel-map;
        visibility: visible;
        position: relative;
        margin-top: 3em;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    &-nav {
        position: absolute;
        top: -2em;
        height: 2em;
        max-width: 100%;
        white-space: nowrap;
        overflow-x: scroll;

        button {
            all: unset;
            display: inline-block;
            position: relative;
            text-align: center;
            max-width: 30vw;
            height: 100%;
            padding: 0 1em;
            border-right: 1px solid var(--card-background-color);
            border-radius: 0.5em 0.5em 0 0;
            background-color: var(--muted-border-color);
            z-index: 1;

            &::before {
                position: absolute;
                inset: auto auto 0 0;
                width: 100%;
                height: 0;
                border-radius: inherit;
                background-color: #81A1C1;
                content: "";
                z-index: -1;

                transition: height 0.5s ease;
            }

            &:hover::before {
                height: 100%;
            }
            
            &[active] {
                background-color: #81A1C1;
            }
        }
    }
}
