#gallery {
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 2/3;

    @media (min-width: 420px) {
        aspect-ratio: 1;
    }

    margin: 1em auto;
    box-shadow: 0 0 20px var(--pico-muted-border-color);
    overflow: hidden;
    border-radius: var(--pico-border-radius);

    animation: fadeIn 3s backwards;
}

.lg-container {
    font-family: var(--pico-font-family) !important;

    .lg-sub-html {
        color: #999;
        font-size: 0.8em !important;
    }
}

.lg-thumb-outer {
    background-color: unset !important;
    padding-left: 0.5em;
}
