.lg-container {
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 1;

    @media(max-width: 420px) {
        aspect-ratio: 2/3;
    }

    margin: var(--pico-block-spacing-vertical) auto;
    font-family: var(--pico-font-family) !important;

    animation: fadeIn 3s backwards;

    .lg-sub-html {
        color: #999;
        font-size: 0.8em !important;

        a {
            color: var(--pico-color);
        }
    }
}

.lg-thumb-outer {
    background-color: unset !important;
}
