// item list
.item-list {
    li {
        list-style-position: inside;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    em {
        color: grey;
        font-size: 0.8em;
        font-style: italic;
    }
}

// tree list
.tree-list {
    min-width: 300px;
 
    ul li {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 5px 15px;
        box-sizing: border-box;

        &::before {
            position: absolute;
            top: 15px;
            left: 0;
            width: 10px;
            height: 1px;
            margin: auto;
            content: "";
            background-color: var(--color);
        }

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            height: 100%;
            content: "";
            background-color: var(--color);
        }

        &:last-child::after {
            height: 15px;
        }
    }
}
