// item list
.item-list {
    li {
        list-style-position: inside;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    em {
        color: grey;
        font-size: 0.8rem;
        font-style: italic;
    }
}

// tree list
.tree-list {
    min-width: 300px;

    animation: fadeInDown 1s backwards;

    ul {
        margin-bottom: 0;
    }

    li {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 5px 20px;
        box-sizing: border-box;

        &::before {
            position: absolute;
            inset: 15px auto auto 0;
            width: 10px;
            height: 1px;
            margin: auto;
            content: "";
            background-color: var(--pico-color);
        }

        &::after {
            position: absolute;
            inset: 0 auto 0 0;
            width: 1px;
            height: 100%;
            content: "";
            background-color: var(--pico-color);
        }

        &:last-child::after {
            height: 15px;
        }
    }
}
