// image frame
.img-frame {
    text-align: center;
    margin: 0.5em auto;
}

// video frame
.video-frame {
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 50%;
    @media (max-width: 420px) {
        width: 100%;
        padding-bottom: 60%;
    }
    margin: 1em auto;

    iframe {
        position: absolute;
        inset: 0 0 0 0;
        width: 100%;
        height: 100%;
        border-radius: 1em;
    }
}
