.menu {
    transition: all 0.3s ease-in;

    &-box {
        position: fixed;
        inset: 0 auto auto 0;
        width: 3em;
        height: 3em;
        border-bottom-right-radius: 100%;
        box-shadow: 0 0 0 0 var(--color);
        background-color: var(--color);
        z-index: 9;
        cursor: pointer;

        transition:
            top 0.3s ease-in,
            left 0.3s ease-in,
            box-shadow 0.3s ease-in,
            border-radius 0.3s ease 0.2s,
            width 0.3s ease 0.3s;
        animation: zoomIn 1s backwards;
    }

    &-icon {
        display: block;
        position: absolute;
        inset: 1.2em auto auto 0.6em;
        width: 1.2em;
        height: 2px;
        background-color: var(--background-color);
        
        transition: all 0.3s ease-in;
        transform-origin: center;

        &::before, &::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: inherit;
            content: "";

            transition: inherit;
        }

        &::before {
            top: -0.4em;
        }

        &::after {
            bottom: -0.4em;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: fixed;
        inset: 0 100% 100% 0;
        z-index: 10;

        transition: inherit;
    }

    &-item {
        position: relative;
        padding: 0 0.5em;
        margin-bottom: 0.6em;
        opacity: 0;
        font: 2em "Allura";
        transform: translateX(calc(pow(-1, var(--ith)) * 200%));

        transition: all 0.3s ease calc(var(--ith) * 0.1s + 0.3s);

        &::before, &::after {
            position: absolute;
            width: 2px;
            height: 0;
            background-color: var(--muted-color);
            content: "";

            transition: height 0.3s ease;
        }

        &::before {
            inset: auto auto -0.2em 0;
        }

        &::after {
            inset: -0.2em 0 auto auto;
        }

        &:has(a:hover) {
            &::before, &::after {
                height: 100%;

                transition: height 0.3s ease 0.3s;
            }
        }

        a {
            position: relative;
            text-decoration: none;

            &::before, &::after {
                position: absolute;
                width: 20vmin;
                height: 2px;
                background-color: var(--muted-color);
                content: "";

                transition:
                    transform 0.3s ease 0.3s,
                    width 0.3s ease;
            }

            &::before {
                inset: -0.2em -0.5em auto auto;
                transform: translateX(-100vw);
            }

            &::after {
                inset: auto auto -0.2em -0.5em;
                transform: translateX(100vw);
            }

            &:hover {
                &::before, &::after {
                    width: 50%;
                    transform: translateX(0);

                    transition:
                        transform 0.3s ease,
                        width 0.3s ease 0.3s;
                }
            }
        }
    }

    &[open] > &-box {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 0 calc(100vmax * 2) var(--background-color);
    }

    &[open] > &-box > &-icon {
        transform: rotate(45deg);

        &::before {
            top: 0;
            transform: rotate(90deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(90deg);
        }
    }

    &[open] > &-content {
        inset: 0 0 0 0;
    }

    &[open] > &-content > &-item {
        opacity: 1;
        transform: translateX(0);
    }

    html[fullscreen] &-box {
        inset: -3em auto auto -3em;
    }
}
