.menu {
    transition: all 0.3s ease-in;

    &-box {
        position: fixed;
        inset: 0 auto auto 0;
        width: 2.4rem;
        height: 2.4rem;
        z-index: 9;
        cursor: pointer;

        transition:
            top 0.3s ease-in,
            left 0.3s ease-in,
            width 0.1s ease 1.3s,
            height 0.5s ease 0.8s,
            background-color 0.5s ease 0.8s;
        animation: zoomIn 1s backwards;
    }

    &-icon {
        display: block;
        position: absolute;
        inset: 1.2rem auto auto 0.6rem;
        width: 1.2rem;
        height: 2px;
        background-color: var(--pico-color);

        transition: all 0.3s ease-in;
        transform-origin: center;

        &::before,
        &::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: inherit;
            content: "";

            transition: inherit;
        }

        &::before {
            top: -0.4rem;
        }

        &::after {
            bottom: -0.4rem;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: fixed;
        inset: 0 0 100% 0;
        z-index: 10;

        transition: inset 0.3s ease 0.8s;
    }

    &-item {
        margin-bottom: 1rem;
        width: 8rem;
        opacity: 0;
        text-align: center;
        font: italic 1.5rem "Times New Roman";
        transform: translateX(calc(pow(-1, var(--ith)) * 200%));

        transition: all 0.3s ease calc(var(--ith) * 0.1s + 0.3s);

        a {
            position: relative;
            text-decoration: none;

            &::after {
                position: absolute;
                width: 0;
                height: 2px;
                inset: auto auto 0 0;
                background-color: var(--pico-muted-color);
                content: "";

                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 80%;
            }
        }
    }

    &[open]>&-box {
        width: 100%;
        height: 100%;
        background-color: var(--pico-background-color);

        transition:
            width 0.1s ease,
            height 0.5s ease 0.1s,
            background-color 0.5s ease 0.1s;
    }

    &[open]>&-box>&-icon {
        transform: rotate(45deg);

        &::before {
            top: 0;
            transform: rotate(90deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(90deg);
        }
    }

    &[open]>&-content {
        inset: 0 0 0 0;

        transition: inset 0.1s ease;
    }

    &[open]>&-content>&-item {
        opacity: 1;
        transform: translateX(0);
    }

    html[fullscreen] &-box {
        inset: -3rem auto auto -3rem;
    }
}
