.post {
    &-title {
        animation: fadeInLeft 1s backwards;
    }

    &-tags {
        justify-content: end !important;

        animation: fadeInRight 1s backwards;
    }

    &-paginator {
        justify-content: center !important;
    
        summary {
            box-shadow: none !important;
    
            &+ul {
                bottom: 100%;
                max-height: 10em;
                overflow-y: scroll;
                margin-bottom: var(--outline-width) !important;
            }
        }
    }

    &-content {
        @extend .post-content-plain;
        counter-reset: h1;

        h2 {
            counter-reset: h2;
    
            &::before {
                margin-right: 0.5em;
                counter-increment: h1;
                content: counter(h1);
            }
        }
    
        h3 {
            counter-reset: h3;
    
            &::before {
                margin-right: 0.5em;
                counter-increment: h2;
                content: counter(h1)"."counter(h2);
            }
        }
    
        h4::before {
            margin-right: 0.5em;
            counter-increment: h3;
            content: counter(h1)"."counter(h2)"."counter(h3);
        }

        &-plain {
            animation: fadeIn 2s backwards;
        }
    }

    &-counter {
        text-align: right;
        color: grey;
        font-size: 0.8em;

        &-word::before {
            margin-right: 0.3em;
            font-family: "Font Awesome 6 Free";
            content: "\f891";
        }

        &-time::before {
            margin-right: 0.3em;
            font-family: "Font Awesome 6 Free";
            content: "\f2f2";
        }
    }
}
