.post {
    &-card {
        @extend .card-hover;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 0;
        min-height: 10em;

        animation: unset;
    }

    &-title {
        flex-grow: 1;
        padding: var(--pico-spacing);
        max-height: 12em;
    }

    &-cover {
        width: 12em;

        @media (max-width: 420px) {
            width: 100%;
        }

        height: 12em;
        background-size: cover;
        background-position: center;
        border-top-left-radius: var(--pico-border-radius);

        @media (max-width: 420px) {
            border-top-right-radius: var(--pico-border-radius);
        }

        @media (min-width: 420px) {
            border-bottom-left-radius: var(--pico-border-radius);
        }
    }

    &-paginator {
        justify-content: center !important;

        details {
            min-width: 6em;
            text-align: center;

            summary+ul {
                bottom: 100%;
                max-height: 10em;
                overflow-y: scroll;

                animation: 1s fadeIn backwards;
            }
        }
    }

    &-content {
        @extend .post-content-plain;
        counter-reset: h1;

        h2 {
            counter-reset: h2;

            &::before {
                margin-right: 0.5em;
                counter-increment: h1;
                content: counter(h1);
            }
        }

        h3 {
            counter-reset: h3;

            &::before {
                margin-right: 0.5em;
                counter-increment: h2;
                content: counter(h1)"." counter(h2);
            }
        }

        h4::before {
            margin-right: 0.5em;
            counter-increment: h3;
            content: counter(h1)"." counter(h2)"." counter(h3);
        }

        &-plain {
            animation: 1s fadeIn 1s backwards;
        }
    }

    &-info {
        text-align: right;
        color: grey;
        font-size: 0.8em;

        animation: 1s fadeIn 1s backwards;
    }

    &-buttons {
        justify-content: space-between !important;
        flex-wrap: wrap;
        padding-bottom: 1em;

        &-prev,
        &-next {
            display: block;
            flex-grow: 1;
            margin: 0.5em 1em;
            padding: 0.5em 1em;
            min-width: 12em;
            border: 1px solid var(--pico-muted-border-color);
            border-radius: var(--pico-border-radius);
            background: var(--pico-card-background-color);
            text-decoration: none;

            transition: all 0.5s ease;

            &::before {
                display: block;
                padding-bottom: 0.5em;
                margin-bottom: 0.5em;
                color: grey;
                border-bottom: 1px solid lightgrey;
                font-style: italic;
                font-weight: bold;
                font-size: 0.8em;
            }

            &[disabled] {
                border-style: dashed;

                @media (max-width: 420px) {
                    display: none;
                }
            }

            &:not([disabled]):hover {
                border-color: var(--pico-color);
                transform: scale(1.02);
            }
        }

        &-prev {
            text-align: left;

            &::before {
                content: "PREV";
            }
        }

        &-next {
            text-align: right;

            &::before {
                content: "NEXT";
            }
        }
    }
}
