.post {
    &-title {
        animation: fadeInLeft 1s backwards;
    }

    &-content {
        animation: fadeIn 2s backwards;
    }

    &-tags {
        justify-content: end !important;

        animation: fadeInRight 1s backwards;
    }

    &-paginator {
        justify-content: center !important;
    
        summary {
            box-shadow: none !important;
    
            &+ul {
                bottom: 100%;
                max-height: 10em;
                overflow-y: scroll;
                margin-bottom: var(--outline-width) !important;
            }
        }
    }
}

#post:not([plain-header]) {
    counter-reset: h1;

    h2 {
        counter-reset: h2;

        &::before {
            margin-right: 0.5em;
            counter-increment: h1;
            content: counter(h1);
        }
    }

    h3 {
        counter-reset: h3;

        &::before {
            margin-right: 0.5em;
            counter-increment: h2;
            content: counter(h1)"."counter(h2);
        }
    }

    h4::before {
        margin-right: 0.5em;
        counter-increment: h3;
        content: counter(h1)"."counter(h2)"."counter(h3);
    }
}
