@mixin ribbon {
    position: absolute;
    top: -0.3em;
    width: 1.2em;
    height: 1.6em;
    background: $nord13;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    content: "";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
    z-index: 2;

    animation: 1s fadeInDown 0.5s backwards;
}

[ribbon="tl"]::after {
    @include ribbon;
    left: 1em;
}

[ribbon="tr"]::after {
    @include ribbon;
    right: 1em;
}
