@use "sass:color";
@use "../colors";

.tag {
    margin: 0.2rem 0.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: color.adjust(colors.$nord4, $lightness: -60%);

    transition: all 0.5s ease;

    &:hover,
    &[active] {
        border-radius: 0.2rem;
    }

    &::after {
        margin-left: 0.3rem;
        font-size: 0.5rem;
        content: attr(data-count);
    }

    @for $i from 0 through 10 {
        &-#{$i} {
            @extend .tag;
            background: color.mix(
                color.adjust(colors.$nord15, $lightness: 20%),
                color.adjust(colors.$nord9, $lightness: 20%),
                $i * 10%
            );
            animation: bounceIn 1s ($i + 9) * 100ms backwards;
        }
    }

    &-cloud {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding-bottom: 2rem;

        &::after {
            display: block;
            position: absolute;
            inset: auto 0.5rem 0 auto;
            color: grey;
            font-style: italic;
            font-size: 0.8rem;
            content: attr(data-sum);

            animation: fadeInRight 1s backwards;
        }
    }

    &-posts {
        margin-top: 1rem;
        padding: 0.5rem 1rem 0;
        border-top: 2px solid var(--pico-muted-border-color);

        &:not(&:has(*[active])) {
            display: none;
        }

        &::before {
            display: block;
            font-size: 1.5rem;
            content: attr(data-title);
        }

        &::after {
            display: block;
            text-align: right;
            color: grey;
            font-style: italic;
            font-size: 0.8rem;
            content: attr(data-count);
        }

        li {
            position: relative;
            list-style: none;

            &:not([active]) {
                display: none;
            }

            &::before {
                margin-right: 1rem;
                color: grey;
                font-style: italic;
                font-size: 0.8rem;
                content: attr(data-date);
            }
        }
    }
}
