.tag {
    margin: 0.2em 0.2em;
    padding: 0.2em 0.5em;
    border-radius: 2em;
    font-size: 0.8em;
    text-decoration: none;
    color: darken($nord4, 60%);

    transition: all 0.5s ease;

    &:hover, &[active] {
        border-radius: 0.2em;
    }

    &::after {
        margin-left: 0.3em;
        font-size: 0.5em;
        content: "("attr(data-count)")";
    }

    @for $i from 0 through 10 {
        &-#{$i} {
            @extend .tag;
            background: mix(lighten($nord15, 20%), lighten($nord9, 20%), $i * 10%);
            animation: bounceIn 1s ($i + 9) * 100ms backwards;
        }
    }

    &-cloud {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding-bottom: 2em;

        &::after {
            display: block;
            position: absolute;
            inset: auto 0.5em 0 auto;
            color: grey;
            font-style: italic;
            font-size: 0.8em;
            content: attr(data-sum);

            animation: fadeInRight 1s backwards;
        }
    }

    &-posts {
        margin-top: 1em;
        padding-top: 0.5em;
        border-top: 2px solid var(--pico-muted-border-color);
        
        &:not(&:has(*[active])) {
            display: none;
        }

        &::before {
            display: block;
            font: 2em "Allura";
            content: attr(data-title);

            animation: fadeInRight 1s backwards;
        }
        
        li {
            position: relative;
            list-style: none;

            animation: fadeInLeft 1s backwards;

            &:not([active]) {
                display: none;
            }

            &::before {
                margin-right: 1em;
                color: grey;
                font-style: italic;
                font-size: 0.8em;
                content: attr(data-date);
            }

            &[marked]::after {
                position: absolute;
                top: 0;
                margin-left: 0.2em;
                color: $nord13;
                font: 900 0.5em "Font Awesome 6 Free";
                content: "\f02e";
            }
        }
    }
}
