{%- capture div_class -%}
    {%- case page.title -%}
        {%- when "archive" -%} tree-list
        {%- when "home" -%} item-list
    {%- endcase -%}
{%- endcapture -%}

<div class="{{ div_class }}" id="books">
    {% if page.title == "home" %}
    <h1 class="faa-parent animated-hover">
        <i class="fa-solid fa-thumbtack fa-fw faa-tada"></i>
        <a href="/archive.html#books">Bookshelf</a>
    </h1>
    {% else %}
    <p>literatures only, the technologicals excluded</p>
    {% endif %}

    {% if site.data.book-list.size > 0 %}
        {% if page.title == "archive" %}
            {% assign list_limit = site.data.book-list.size %}
        {% else %}
            {% assign list_limit = 5 %}
        {% endif %}
    <ul>
        {% assign booksets = site.data.book-list %}
        {% for bookset in booksets limit:list_limit %}
        <li>
            <details {% if page.title == "archive" %}open{% endif %}>
                <summary>
                {{ bookset.year }}:
                {% assign year = bookset.year | to_integer %}
                {% if page.title == "archive" %}
                    {% assign book_num = bookset.books | size %}
                    {%- capture info -%}
                    {{ book_num }} book{% if book_num > 1 %}s{% endif %}
                    {% unless year > 2017 or forloop.first %}and more...{% endunless %}
                    {%- endcapture -%}
                <span>{{ info }}</span>
                {% else %}
                    {% assign books = bookset.books | sort:"date" %}
                    {% for book in books %}
                    <div class="tooltip">
                        <i class="fa-solid fa-book"></i>
                        <span class="info">
                            {{ book.title }}
                            {% if book.subtitle %}<br>{{ book.subtitle }}{% endif %}
                            {% if book.author %}<br>{{ book.author }}{% endif %}
                        </span>
                    </div>
                    {% endfor %}
                    {% unless year > 2017 or forloop.first %}...{% endunless %}
                {% endif %}
                </summary>
                <ul>
                    {% assign books = bookset.books | sort:"date" %}
                    {% for book in books %}
                    <li><a {% if book.link %}href="{{ book.link }}"{% endif %}>
                        {{ book.title }}
                        {% if book.subtitle %} / {{ book.subtitle }}{% endif %}
                        {% if book.author %} / {{ book.author }}{% endif %}
                    </a>{%if page.title == "archive" and book.date %} <span>({{ book.date }})</span>{% endif %}</li>
                    {% endfor %}
                </ul>
            </details>
        </li>
        {% endfor %}

        {% assign list_rest = site.data.book-list.size | minus:list_limit %}
        {% if list_rest > 0 %}
        <a href="/archive.html#books">show more books...</a>
        {% endif %}
    </ul>
    {% else %}
    <p>nothing available</p>
    {% endif %}
</div>
