{%- capture div_class -%}
    {%- case page.title -%}
        {%- when "archive" -%} tree-list
        {%- when "home" -%} item-list
    {%- endcase -%}
{%- endcapture -%}

<div class="{{ div_class }}" id="bulletins">
    {% if page.title == "home" %}
    <h1 class="faa-parent animated-hover">
        <i class="fa-solid fa-bell fa-fw faa-tada"></i>
        <a href="/archive.html#bulletins">Bulletins</a>
    </h1>
    {% else %}
    <p>{{ site.data.bulletin-list.size }} bulletin{% if site.data.bulletin-list.size > 1 %}s{% endif %} in total</p>
    {% endif %}
    
    {% if site.data.bulletin-list.size > 0 %}
        {% if page.title == "archive" %}
            {% assign list_limit = site.data.bulletin-list.size %}
        {% else %}
            {% assign list_limit = 5 %}
        {% endif %}
    <ul>
        {% assign entries = site.data.bulletin-list | reverse %}
        {% for entry in entries limit:list_limit %}
        <li>
            {% if page.title == "archive" %}
            {{ entry.info }} <span id="{{ entry.tag }}">({{ entry.tag }})</span>
            {% else %}
            <span id="{{ entry.tag }}">[ {{ entry.tag }} ]</span> {{ entry.info }}
            {% endif %}
        </li>
        {% endfor %}
        
        {% assign list_rest = site.data.bulletin-list.size | minus:list_limit %}
        {% if list_rest > 0 %}
            {%- capture more_info -%}
            show {{ list_rest }} more bulletin{% if list_rest > 1 %}s{% endif %}...
            {%- endcapture -%}
        <a href="/archive.html#bulletins">{{ more_info }}</a>
        {% endif %}
    </ul> 
    {% else %}
    <p>nothing available</p>
    {% endif %}
</div>

<script>
    window.addEventListener("load", function() {
        const date = new Date()
        let year = date.getFullYear()
        let month = date.getMonth() + 1
        let day = date.getDate()

        document.querySelectorAll("#today").forEach(e => {
            e.textContent = e.textContent.replace("today", `${year}.${month}.${day}`)
        })
    })
</script>
