<script
    src="https://utteranc.es/client.js"
    repo="PENG-AO/PENG-AO.github.io"
    issue-term="pathname"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async
></script>

<script>
    const setTheme = (theme) => {
        document.querySelector('iframe.utterances-frame').contentWindow.postMessage({
            type: 'set-theme',
            theme: `github-${theme}`
        }, 'https://utteranc.es')
    }
    window.addEventListener('message', (event) => {
        if (event.origin !== 'https://utteranc.es') return
        // set theme dynamically
        setTheme(document.querySelector('html').getAttribute('data-theme'))
        // change theme dynamically
        const observer = new MutationObserver((mutations) => {
            mutations.forEach(mutation => {
                if (mutation.attributeName != 'data-theme') return
                setTheme(mutation.target.getAttribute(mutation.attributeName))
            })
        })
        observer.observe(document.querySelector('html'), {attributes: true})
    })
</script>
