<div id="light-comment">
    <script
        src="https://utteranc.es/client.js"
        repo="PENG-AO/PENG-AO.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async
    ></script>
</div>

<div id="dark-comment">
    <script
        src="https://utteranc.es/client.js"
        repo="PENG-AO/PENG-AO.github.io"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async
    ></script>
</div>

<script>
    // display matching block on load
    window.addEventListener("load", () => {
        if (window.matchMedia) {
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                // dark mode
                document.getElementById("light-comment").hidden = true
            } else {
                // light mode
                document.getElementById("dark-comment").hidden = true
            }
        }
    })
    // switch to matching block on change
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", e => {
        document.getElementById("light-comment").hidden =  e.matches
        document.getElementById("dark-comment").hidden =  !e.matches
    })
</script>

