{% if page.required contains "with-header" %}
<header>
    <div class="main-title">Life Goes On</div>
    <div class="sub-title">そして生活が続く...来日方长</div>
</header>
{% endif %}

{% if content contains "<table>" %}
    {% assign content = content
        | replace:"<table>","<div class='overflow-auto'><table class='striped'>"
        | replace:"</table>","</table></div>"
    %}
{% endif %}
{% if page.required contains "plain-heading" %}
    {% assign content = content
        | replace:"post-content","post-content-plain"
    %}
{% endif %}
<main>{{ content }}</main>

{% unless page.required contains "no-footer" %}
<footer>
    <small>by PENG Ao with <i class="fa-solid fa-heart fa-fw"></i></small><br>
    <small><i class="fa-regular fa-copyright fa-fw"></i> 2021 - 2024</small><br>
    <small id="site-view"></small><br>
    <img src="/assets/img/Produced-By-Human.svg" alt="Produce By Human Not AI" width="100px">
</footer>
{% endunless %}
