<div class="controller">
    <button
        id="profile-btn" class="contrast faa-parent animated-hover"
        onclick="location.href='/profile.html'" active
    ><i class="fa-solid fa-user-graduate faa-horizontal faa-slow"></i></button>

    <button
        id="theme-btn" class="contrast faa-parent animated-hover"
        onclick="toggleTheme(event)" active
    ><i class="fa-solid fa-lightbulb faa-flash faa-slow"></i></button>

    <button
        id="search-btn" class="contrast faa-parent animated-hover"
        onclick="toggleModal(event)" data-target="search-box" active
    ><i class="fa-solid fa-magnifying-glass faa-wrench faa-slow"></i></button>
    <dialog id="search-box" close><article>
        <header>
            <nav>
                <ul>Search</ul>
                <ul class="close-btn" data-target="search-box" onclick="toggleModal(event)"></ul>
            </nav>
            <input id="search-input" type="search" placeholder='press "/" to focus ...'>
        </header>
        <div id="search-results"></div>
    </article></dialog>

    <button
        id="toc-btn" class="contrast faa-parent animated-hover"
        onclick="toggleModal(event)" data-target="toc-box"
    ><i class="fa-solid fa-bars-staggered faa-shake faa-slow"></i></button>
    <dialog id="toc-box" close><article>
        <header><nav>
            <ul>Contents</ul>
            <ul class="close-btn" data-target="toc-box" onclick="toggleModal(event)"></ul>
        </nav></header>
    </article></dialog>

    <button
        id="gallery-btn" class="contrast faa-parent animated-hover"
        onclick="maximizeGallery(event)"
    ><i class="fa-solid fa-maximize faa-pulse faa-fast"></i></button>
</div>
