<div class="controller">
    <button
        id="profile-btn" class="contrast faa-parent animated-hover"
        onclick="location.href='{% link pages/profile.html %}'" active
    ><i class="fa-solid fa-user-graduate faa-horizontal faa-slow"></i></button>

    <button
        id="theme-btn" class="contrast faa-parent animated-hover"
        onclick="toggleTheme(event)" active
    ><i class="fa-solid fa-lightbulb faa-flash faa-slow"></i></button>

    <button
        id="toc-btn" class="contrast faa-parent animated-hover"
        onclick="toggleModal(event)" data-target="toc-box"
    ><i class="fa-solid fa-bars-staggered faa-shake faa-slow"></i></button>
    <dialog id="toc-box" close>
        <article>
            <header>
                <nav>
                    <ul>Contents</ul>
                    <ul class="close-btn" data-target="toc-box" onclick="toggleModal(event)"></ul>
                </nav>
            </header>
        </article>
    </dialog>

    <button
        id="top-btn" class="contrast faa-parent animated-hover"
        onclick="document.documentElement.scrollTop=0"
    ><i class="fa-solid fa-angle-up faa-vertical"></i></button>
</div>

<div id="menu-btn" class="menu" onclick="toggleMenu(event)">
    <span class="menu-box"><span class="menu-icon"></span></span>
    <div class="menu-content">
        <div class="menu-item" style="--ith: 0;"><a href="{{ '/' | relative_url }}">Home</a></div>
        <div class="menu-item" style="--ith: 1;"><a href="{% link pages/album.html %}">Album</a></div>
        <div class="menu-item" style="--ith: 2;"><a href="{% link pages/footprint.html %}">Footprint</a></div>
        <div class="menu-item" style="--ith: 3;"><a href="{% link pages/books.html %}">Bookshelf</a></div>
        <div class="menu-item" style="--ith: 4;"><a href="{% link pages/archive.html %}">Archive</a></div>
    </div>
</div>

<script>
    const toggleMenu = () => {
        document.getElementById("menu-btn").toggleAttribute("open")
        document.documentElement.toggleAttribute("overlay")
    }
    window.addEventListener("scroll", (event) => {
        const topBtn = document.getElementById("top-btn")
        if (document.documentElement.scrollTop < 200) {
            if (topBtn.hasAttribute("active")) {
                topBtn.toggleAttribute("inactivating", true)
                window.addEventListener("animationend", () => {
                    topBtn.toggleAttribute("active", false)
                    topBtn.toggleAttribute("inactivating", false)
                }, {"once": true})
            }
        } else {
            if (!topBtn.hasAttribute("active")) {
                topBtn.toggleAttribute("active", true)
            }
        }
    })
    // setup AOS
    AOS.init({offset: 60, duration: 1200})
</script>
