{% if page.required contains "with-header" %}
<header>LA VITA</header>
{% endif %}

{% assign content = content | replace:"<table","<figure><table" | replace:"table>","table></figure>" %}
{% if page.required contains "plain-heading" %}
    {% assign content = content | replace:"post-content","post-content-plain" %}
{% endif %}
<main>{{ content }}</main>

{% unless page.required contains "no-footer" %}
<footer>
    <small>by PENG Ao with <i class="fa-solid fa-heart fa-fw faa-pulse faa-slow animated"></i></small><br>
    <small><i class="fa-regular fa-copyright fa-fw"></i> 2021 - 2024</small><br>
    <small id="site-view"></small>
</footer>
{% endunless %}

<script>
    window.addEventListener("load", () => {
        document.querySelectorAll("figure > table[caption]").forEach((elem) => {
            const caption = document.createElement("figcaption")
            caption.innerText = elem.getAttribute("caption")
            elem.after(caption)
            elem.removeAttribute("caption")
        })
    })
</script>
