<meta http-equiv="Content-Security-Policy" content="
    default-src 'none';
    script-src 'self' 'unsafe-inline' 'unsafe-eval'
        https://cdn.jsdelivr.net/
        https://www.googletagmanager.com/
        https://utteranc.es/
        https://pyscript.net/;
    style-src 'self' 'unsafe-inline'
        https://cdn.jsdelivr.net/
        https://pyscript.net/;
    img-src 'self' data:
        https://www.googletagmanager.com/
        https://www.google-analytics.com/
        https://github.com/
        https://avatars.githubusercontent.com/
        https://github-readme-stats.vercel.app/
        https://img.shields.io/
        https://cdn.simpleicons.org/;
    font-src 'self' data:
        https://cdn.jsdelivr.net/;
    connect-src 'self'
        https://cdn.jsdelivr.net/
        https://www.googletagmanager.com/
        https://www.google-analytics.com
        https://www.analytics.google.com/
        https://pyscript.net/
        https://api.bloggify.net/gh-calendar/;
    media-src 'self';
    object-src 'self';
    child-src 'self' 'unsafe-inline'
        https://www.google.com/
        https://www.youtube.com/
        https://utteranc.es/;
    form-action 'none';
    base-uri 'self'
"/>
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
