<nav>
    <ul><li>{{ site.title }}</li></ul>
    <ul>
        <li><i class="fa-solid fa-house fa-fw" onclick="location.href='/'"></i></li>
        <li><i class="fa-solid fa-image fa-fw" onclick="location.href='/album.html'"></i></li>
        <li><i class="fa-solid fa-map-location-dot fa-fw" onclick="location.href='/footprint.html'"></i></li>
        <li><i class="fa-solid fa-user fa-fw" onclick="location.href='/profile.html'"></i></li>
    </ul>
</nav>

<header>
    <div class="main-title">Life Goes On</div>
    <div class="sub-title">そして生活が続く...来日方长</div>
</header>
