<div class="menu" onclick="toggleMenu(event)">
    <span class="menu-box">
        <span class="menu-icon"></span>
    </span>
    <div class="menu-content">
        <div class="menu-item" style="--ith: 0;"><a href="/">Home</a></div>
        <div class="menu-item" style="--ith: 1;"><a href="/album.html">Album</a></div>
        <div class="menu-item" style="--ith: 2;"><a href="/footprint.html">Footprint</a></div>
        <div class="menu-item" style="--ith: 3;"><a href="/books.html">Bookshelf</a></div>
        <div class="menu-item" style="--ith: 4;"><a href="/archive.html">Archive</a></div>
    </div>
</div>

<script>
    const toggleMenu = () => {
        const menu = document.querySelector(".menu")
        const html = document.documentElement
        if (menu.hasAttribute("open")) {
            menu.removeAttribute("open")
            html.removeAttribute("overlay")
        } else {
            menu.setAttribute("open", "")
            html.setAttribute("overlay", "")
        }
    }
</script>

<header>
    <div class="main-title">Life Goes On</div>
    <div class="sub-title">そして生活が続く...来日方长</div>
</header>
