<header class="blog-header">
    <div class="menu">
        <span>{{ site.title }}</span>
        {% assign header_pages = "" | split:"," %}
        {% for page_name in site.header_pages %}
            {% assign page = site.pages | where: "title", page_name | first %}
            {% assign header_pages = header_pages | push: page %}
        {% endfor %}
        <span class="links-desktop">
            {% for page in header_pages %}
            <a href="{{ page.url | relative_url }}"><i class="{{ page.icon }}"></i></a>
            {% endfor %}
        </span>
        <details class="links-mobile">
            <summary><i class="fa-solid fa-bars"></i></summary>
            <div>
                {% for page in header_pages %}
                <a href="{{ page.url | relative_url }}"><i class="{{ page.icon }}"></i> {{ page.title | capitalize }}</a>
                {% endfor %}
            </div>
        </details>
    </div>

    <div class="title">
        <a href="/">
            <p class="main-title">Life Goes On</p>
            <p class="sub-title">そして生活が続く...来日方长</p>
        </a>
    </div>
</header>
