<head>
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'none';
        script-src 'self' 'unsafe-inline' 'unsafe-eval'
            https://cdn.jsdelivr.net/
            https://giscus.app/
            https://gc.zgo.at/;
        style-src 'self' 'unsafe-inline'
            https://giscus.app/
            https://chinese-fonts-cdn.deno.dev/
            https://ik.imagekit.io/
            https://cdn.jsdelivr.net/;
        img-src 'self' data:
            https://cdn.jsdelivr.net/
            https://github.com/
            https://avatars.githubusercontent.com/
            https://github-readme-stats.vercel.app/
            https://cdn.simpleicons.org/
            https://*.tile.openstreetmap.org/;
        font-src 'self' data:
            https://ik.imagekit.io/
            https://cdn.jsdelivr.net/;
        connect-src 'self'
            https://cdn.jsdelivr.net/
            https://*.goatcounter.com/count
            https://*.goatcounter.com/counter/;
        media-src 'self';
        object-src 'self';
        child-src 'self' 'unsafe-inline'
            https://www.youtube.com/
            https://giscus.app/;
        form-action 'none';
        base-uri 'self'
    ">
    <meta http-equiv="X-XSS-Protection" content="1;mode=block" always>
    <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/{{ site.thirdparty.github.user }}.png?size=16">
    <title>{{ page.title }} | {{ site.author }}</title>
    {%- seo title=false -%}

    <!-- goat counter -->
    <script src="{{ '/assets/js/analytics.js' | relative_url }}"></script>
    <script data-goatcounter="https://{{ site.thirdparty.goatcounter.code }}.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>

    <!-- pico css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css">

    <!-- animation -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css/animate.min.css">
    <!-- animation on scroll -->
    <script src="https://cdn.jsdelivr.net/npm/aos@latest/dist/aos.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@latest/dist/aos.min.css">
    <!-- typed -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@latest/dist/typed.umd.min.js"></script>

    <!-- font awesome icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome-animation@latest/css/font-awesome-animation.min.css">
    <!-- lxgw wenkai font -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@chinese-fonts/lxgwwenkai@latest/dist/LXGWWenKai-Regular/result.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@chinese-fonts/lxgwwenkai@latest/dist/LXGWWenKai-Bold/result.min.css">
    <!-- zhuque faonsong font -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@chinese-fonts/zqfs@latest/dist/ZhuqueFangsong-Regular/result.css">

    {%- if page.required contains "code" -%}
    <!-- prism js -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/components/prism-core.min.js"></script>
    <link id="prism-theme" rel="stylesheet" data-href="https://cdn.jsdelivr.net/npm/prism-themes@latest/themes/">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/line-numbers/prism-line-numbers.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/line-highlight/prism-line-highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/line-highlight/prism-line-highlight.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/toolbar/prism-toolbar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/toolbar/prism-toolbar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/plugins/show-language/prism-show-language.min.js"></script>
    <!-- roboto mono font -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@latest/index.min.css">
    <!-- custom code theme switcher -->
    <script src="{{ '/assets/js/code.js' | relative_url }}"></script>
    {%- endif -%}

    {%- if page.required contains "math" -%}
    <!-- mathjax -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@latest/es5/tex-mml-chtml.js"></script>
    <script>MathJax = {loader: {load: ["ui/lazy"]}, tex: {inlineMath: [["$", "$"]], processEscapes: true}}</script>
    {%- endif -%}

    {%- if page.required contains "graph" -%}
    <!-- mermaid -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid@latest/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad: true, theme: "forest", flowchart: {useMaxWidth: false, htmlLabels: true}})</script>
    {%- endif -%}

    {%- if page.required contains "gallery" -%}
    <!-- light gallery -->
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@latest/lightgallery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@latest/plugins/zoom/lg-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@latest/plugins/autoplay/lg-autoplay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@latest/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@latest/css/lightgallery-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@latest/css/lg-transitions.css">
    <!-- exifr -->
    <script src="https://cdn.jsdelivr.net/npm/exifr@latest/dist/full.umd.min.js"></script>
    <!-- custom gallery initializer -->
    <script src="{{ '/assets/js/gallery.js' | relative_url }}"></script>
    {%- endif -%}

    {%- if page.required contains "map" -%}
    <!-- leaflet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@latest/dist/leaflet.min.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@latest/dist/leaflet.min.js"></script>
    <!-- leaflet minimap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-minimap@latest/dist/Control.MiniMap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-minimap@latest/dist/Control.MiniMap.min.js"></script>
    <!-- leaflet reset view -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview@latest/dist/L.Control.ResetView.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview@latest/dist/L.Control.ResetView.min.js"></script>
    <!-- leaflet canvas marker -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet-canvas-marker@latest/dist/leaflet.canvas-markers.min.js"></script>
    <!-- custom map initializer -->
    <script src="{{ '/assets/js/map.js' | relative_url }}"></script>
    {%- endif -%}

    {%- if page.required contains "search" -%}
    <!-- simple jekyll search -->
    <script src="https://cdn.jsdelivr.net/npm/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>
    {%- endif -%}

    <!-- custom style -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <!-- custom modal switcher -->
    <script src="{{ '/assets/js/modal.js' | relative_url }}"></script>
    <!-- custom theme switcher -->
    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
    <!-- custom json loader -->
    <script src="{{ '/assets/js/json.js' | relative_url }}"></script>
</head>
