<div class="tree-list" id="toc"></div>

<script>
    window.addEventListener("load", () => {
        // load table of content
        let prevTag = "", currTag = "", tagStack = new Array()
        let TOC = Array.from(document.querySelectorAll(".post > h1, h2, h3")).reduce((toc, header) => {
            currTag = header.tagName
            if (currTag > prevTag) { // h1 -> h2, h2 -> h3
                toc += `<ul><li><a href=#${header.id}>${header.textContent}</a>`
                tagStack.push("</ul>")
                tagStack.push("</li>")
            } else if (currTag == prevTag) { // h1 -> h1, h2 -> h2, h3 -> h3
                toc += tagStack.pop() // </li>
                toc += `<li><a href=#${header.id}>${header.textContent}</a>`
                tagStack.push("</li>")
            } else { // h3 -> h2, h3 -> h1, h2 -> h1
                toc += tagStack.pop() // </li>
                for (let i = 0; i < (prevTag[1] - currTag[1]); i++) {
                    toc += tagStack.pop() // </ul>
                    toc += tagStack.pop() // </li>
                }
                toc += `<li><a href=#${header.id}>${header.textContent}</a>`
                tagStack.push("</li>")
            }
            prevTag = currTag
            return toc
        }, "") + tagStack.reduce((a, b) => a + b, "")
        document.getElementById("toc").innerHTML = TOC
    })
</script>
