<dialog id="profile-box" close><article>
    <header><nav>
        <ul>Profile</ul>
        <ul class="close-btn" data-target="profile-box" onclick="toggleModal(event)"></ul>
    </nav></header>
    <div class="profile-avatar"><img src="https://github.com/PENG-AO.png"></div>
    <div class="profile-name">Peng Ao</div>
    <div class="profile-icons">
        <img alt="GitHub commit activity" src="https://img.shields.io/github/commit-activity/m/PENG-AO/PENG-AO.github.io?label=activity">
        <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/PENG-AO/PENG-AO.github.io?label=last">
        <img alt="GitHub issues" src="https://img.shields.io/github/issues/PENG-AO/PENG-AO.github.io">
        <img alt="GitHub repo size" src="https://img.shields.io/github/repo-size/PENG-AO/PENG-AO.github.io">
        <img alt="GitHub deployments" src="https://img.shields.io/github/deployments/PENG-AO/PENG-AO.github.io/github-pages?label=deploy%20state">
    </div>
    <hr><!-- skills -->
    <div class="profile-icons">
        {% assign skills = site.data.profiles.skills | sort:"info" %}
        {% for skill in skills %}
        <img src="https://cdn.simpleicons.org/{{ skill.info }}/{{ skill.color }}"
            width="32px" height="32px" style="--ith: {{ forloop.index0 }}">
        {% endfor %}
    </div>
    <hr><!-- information -->
    <ul class="profile-info">
        {% for information in site.data.profiles.information %}
        <li class="profile-info-item" style="--ith: {{ forloop.index0 }}">
            <i class="{{ information.icon }}"></i> {{ information.info }}
        </li>
        {% endfor %}
    </ul>
    <hr><!-- identity -->
    <ul class="profile-info">
        {% for identity in site.data.profiles.identities %}
        <li class="profile-info-item" style="--ith: {{ forloop.index0 }}">
            <i class="{{ identity.icon }}"></i> {{ identity.info }}
        </li>
        {% endfor %}
    </ul>
    <hr><!-- hobby -->
    <ul class="profile-info">
        {% for hobby in site.data.profiles.hobbies %}
        <li class="profile-info-item" style="--ith: {{ forloop.index0 }}">
            <i class="{{ hobby.icon }}"></i> {{ hobby.info }}
        </li>
        {% endfor %}
    </ul>
</article></dialog>
