{%- capture div_class -%}
    {%- case page.title -%}
        {%- when "archive" -%} tree-list
        {%- when "home" -%} item-list
    {%- endcase -%}
{%- endcapture -%}

<div class="{{ div_class }}" id="projects">
    {% if page.title == "home" %}
    <h1 class="faa-parent animated-hover">
        <i class="fa-solid fa-cubes fa-fw faa-tada"></i>
        <a href="/archive.html#projects">Projects</a>
    </h1>
    <div class="img-frame"><img src="https://ghchart.rshah.org/PENG-AO" alt="My GitHub Contributions"/></div>
    {% else %}
    <p>{{ site.data.project-list.size }} project{% if site.data.project-list.size > 1 %}s{% endif %} in total</p>
    {% endif %}

    {% if site.data.project-list.size > 0 %}
        {% if page.title == "archive" %}
            {% assign list_limit = site.data.project-list.size %}
        {% else %}
            {% assign list_limit = 5 %}
        {% endif %}
    <ul>
        {% assign projects = site.data.project-list | sort:"end" | reverse %}
        {% for project in projects limit:list_limit %}
        <li>
            {%- capture icon -%}
                {% case project.type %}
                    {% when "git" %}<i class="fab fa-github-alt fa-fw"></i>
                    {% when "code" %}<i class="fa-solid fa-code-branch fa-fw"></i>
                    {% when "life" %}<i class="fa-solid fa-map-marked-alt fa-fw"></i>
                    {% when "book" %}<i class="fa-solid fa-book-reader fa-fw"></i>
                    {% else %}<i class="fa-solid fa-file-archive fa-fw"></i>
                {% endcase%}
            {%- endcapture -%}
            {%- capture span -%}
                {{ project.start }} ~ {{ project.end }}
            {%- endcapture -%}
            {%- capture info -%}
                {% if project.link %}
                    {% assign link = project.link %}
                {% else %}
                    {% assign link = "/projects/" | append:project.name | append:".html" %}
                {% endif %}
            <a href="{{ link }}">{{ project.name }}</a>
            {%- endcapture -%}

            {% if page.title == "archive" %}
            {{ icon }}{{ info }}<span>({{ span }})</span>
            {% else %}
            <span>[ {{ span }} ]</span> {{ icon }}{{ info }}
            {% endif %}
        </li>
        {% endfor %}

        {% assign list_rest = site.data.project-list.size | minus:list_limit %} 
        {% if list_rest > 0 %}
            {%- capture more_info -%}
            show {{ list_rest }} more project{% if list_rest > 1 %}s{% endif %}...
            {%- endcapture -%}
        <a href="/archive.html#projects">{{ more_info }}</a>
        {% endif %}
    </ul>
    {% else %}
    <p>nothing available</p>
    {% endif %}
</div>
