{% assign travel = "" | split:"" %}
{% assign thought = "" | split:"" %}
{% assign study = "" | split:"" %}

{% assign posts = site.posts | reverse %}
{% assign start = page.date | split:"~" | first %}
{% assign end = page.date | split:"~" | last %}
{% for post in posts %}
    {% assign date = post.date | date:"%Y.%m" %}
    {% unless include.start <= date and date <= include.end %}
        {% continue %}
    {% endunless %}
    {% if post.path contains "travel/" %}
        {% assign travel = travel | push:post %}
    {% elsif post.path contains "thought/" %}
        {% assign thought = thought | push:post %}
    {% elsif post.path contains "study/" %}
        {% assign study = study | push:post %}
    {% endif %}
{% endfor %}

{% unless include.path == "" %}
<h2><i class="fa-solid fa-camera-retro fa-fw"></i> Photoing</h2>
{% include embed/gallery.html path=include.path %}
{% endunless %}

{% unless travel.size == 0 %}
<h2 data-aos="fade-up"><i class="fa-solid fa-signs-post fa-fw"></i> Traveling</h2>
<ol class="item-list">
    {% for post in travel %}
    <li data-aos="fade-up">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <em>({{ post.date | date:"%Y.%m.%d" }})</em>
    </li>
    {% endfor %}
</ol>
{% endunless %}

{% unless thought.size == 0 %}
<h2 data-aos="fade-up"><i class="fa-solid fa-book-open-reader fa-fw"></i> Thinking</h2>
<ol class="item-list">
    {% for post in thought %}
    <li data-aos="fade-up">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <em>({{ post.date | date:"%Y.%m.%d" }})</em>
    </li>
    {% endfor %}
</ol>
{% endunless %}

{% unless study.size == 0 %}
<h2 data-aos="fade-up"><i class="fa-solid fa-laptop-code fa-fw"></i> Studying</h2>
<ol class="item-list">
    {% for post in study %}
    <li data-aos="fade-up">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <em>({{ post.date | date:"%Y.%m.%d" }})</em>
    </li>
    {% endfor %}
</ol>
{% endunless %}
