{% assign travel = "" | split:"" %}
{% assign reading = "" | split:"" %}
{% assign specialism = "" | split:"" %}

{% assign posts = site.posts | reverse %}
{% assign start = page.date | split:"~" | first %}
{% assign end = page.date | split:"~" | last %}
{% for post in posts %}
    {% assign date = post.date | date:"%Y.%m" %}
    {% unless include.start <= date and date <= include.end %}
        {% continue %}
    {% endunless %}
    {% if post.path contains "travel" %}
        {% assign travel = travel | push:post %}
    {% elsif post.path contains "reading" %}
        {% assign reading = reading | push:post %}
    {% elsif post.path contains "specialism" %}
        {% assign specialism = specialism | push:post %}
    {% endif %}
{% endfor %}

{% unless include.path == "" %}
<h2><i class="fa-solid fa-camera-retro fa-fw"></i> Photoing</h2>
{% include gallery.html path=include.path %}
{% endunless %}

{% unless travel.size == 0 %}
<h2><i class="fa-solid fa-signs-post fa-fw"></i> Travel</h2>
<ul class="item-list">
    {% for post in travel %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <em>({{ post.date | date:"%Y.%m.%d" }})</em>
    </li>
    {% endfor %}
</ul>
{% endunless %}

{% unless reading.size == 0 %}
<h2><i class="fa-solid fa-book-open-reader fa-fw"></i> Reading</h2>
<ul class="item-list">
    {% for post in reading %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <em>({{ post.date | date:"%Y.%m.%d" }})</em>
    </li>
    {% endfor %}
</ul>
{% endunless %}

{% unless specialism.size == 0 %}
<h2><i class="fa-solid fa-laptop-code fa-fw"></i> Specialism</h2>
<ul class="item-list">
    {% for post in specialism %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <em>({{ post.date | date:"%Y.%m.%d" }})</em>
    </li>
    {% endfor %}
</ul>
{% endunless %}
