{%- capture div_class -%}
    {%- case page.title -%}
        {%- when "archive" -%} tree-list
        {%- when "home" -%} tag-cloud-home
    {%- endcase -%}
{%- endcapture -%}

<div class="{{ div_class }}" id="tags">
    {% if page.title == "home" %}
    <h1><i class="fa-solid fa-tags fa-fw"></i><a href="/archive.html#tags">Tags</a></h1>
    {% else %}
    <p>{{ site.tags.size }} tag{% if site.tags.size > 1 %}s{% endif %} in total</p>
    {% endif %}

    {% if site.tags.size > 0 %}
    <ul>
        {% assign tag_list = site.tags %}
        {% for tag in tag_list %}
        <li>
            {% if page.title == "archive" %}
            <details id="{{ tag[0] }}">
                <summary>
                    {% assign post_num = tag[1] | size %}
                    {%- capture tag_info -%}
                    {{ post_num }} post{% if post_num > 1 %}s{% endif %}
                    {%- endcapture -%}
                    <i class="fa-solid fa-tag"></i> {{ tag[0] }}<span> ({{ tag_info }})</span>
                </summary>
                <ul>
                    {% for post in tag[1] %}
                    <li>
                        <i class="fa-solid fa-file-alt"></i>
                        <a href="{{ post.url }}"> {{ post.title }}</a>
                        <span>
                            {% assign date_format = "%Y.%m.%d" %}
                            [ {{ post.date | date: date_format }} ]
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </details>
            {% else %}
            <a href="/archive.html#{{ tag[0] }}">{{ tag[0] }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>nothing available</p>
    {% endif %}
</div>

