// styles of basic elements

:root {
    --font-family: "LXGW WenKai Lite", sans-serif;
}

html {
    transition: background 0.5s ease;
    scroll-behavior: smooth !important;

    &[overlay], &[fullscreen] {
        overflow: hidden;
    }
}

body {
    & > header, & > footer {
        text-align: center;
    }

    & > header {
        margin-top: 3em;
        padding-bottom: 0;

        animation: zoomIn 1s backwards;

        .main-title {
            font: 3em "Allura";
        }
 
        .sub-title {
            font-size: 1em;
        }
    }

    & > footer {
        padding-top: 0;
    }
}

// article
article {
    & > header {
        background: linear-gradient(to right, var(--card-sectionning-background-color), var(--card-background-color));
    }
}

// math blocks
math {
    padding-bottom: 0.5em;
}

:not(h1, h2, h3, h4, h5, h6) > mjx-container {
    display: inline-block;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

// images
img {
    max-width: 100%;
    vertical-align: middle;
}

// thematic break
hr {
    text-align: center;
    height: auto;
    border-top: none;

    &::after {
        content: ". . .";
    }
}

// dialog
dialog {
    &[open] {
        animation: fadeIn 0.3s backwards;
    }

    &[close] {
        animation: fadeOut 0.3s backwards;
    }

    article {
        max-height: 85vh;

        header {
            position: sticky;
            top: calc(var(--block-spacing-vertical) * -1);
            z-index: 1;
        }
    }

    .close-btn {
        text-align: right;

        transition: opacity 0.5s ease;
    
        &::before {
            font: 900 1em "Font Awesome 6 Free";
            content: "\f00d";
        }
    
        &:hover {
            opacity: 0.6;
        }
    }
}

// button
button {
    width: auto;
}

// code blocks
pre {
    overflow: auto;
    max-height: 500px;
    font: 0.8em "Roboto Mono" !important;
}

// ruby
ruby rt {
    color: var(--color);
}
