:root {
    --font-family: "LXGW WenKai Lite", sans-serif;
}

html {
    transition: background 0.5s ease;
    scroll-behavior: smooth !important;
}

body {
    & > header, & > footer {
        text-align: center;

        animation: 1s zoomIn backwards;
    }

    & > header {
        padding-bottom: 0;

        .main-title {
            font: 3em "Allura";
        }
 
        .sub-title {
            font-size: 1em;
        }
    }

    & > footer {
        padding-top: 0;
    }
}

// article
article {
    & > header {
        background: linear-gradient(to right, var(--card-sectionning-background-color), var(--card-background-color));
    }
}

// math blocks
math {
    padding-bottom: 0.5em;
}

:not(h1, h2, h3, h4, h5, h6) > mjx-container {
    display: inline-block;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

// images
img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 0.5em;
}

// thematic break
hr {
    text-align: center;
    height: auto;
    border-top: none;

    &::after {
        content: ". . .";
    }
}

// dialog
dialog {
    article header {
        position: sticky;
        top: calc(var(--block-spacing-vertical) * -1);
        z-index: 1;
    }
}

// code blocks
pre {
    background-color: $nord0;
    overflow: auto;
    max-height: 500px;
    padding: 0.2em;
    margin: 0.5em auto;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px 0 var(--color);
}

// ruby
ruby rt {
    color: var(--color);
}
