// nord colors
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

// Light scheme
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --background-color: #{$nord6};
    --color: #{$nord0};

    --h1-color: var(--color);
    --h2-color: var(--color);
    --h3-color: var(--color);
    --h4-color: var(--color);
    --h5-color: var(--color);
    --h6-color: var(--color);

    --muted-color: #{$nord3};
    --muted-border-color: #{$nord4};

    --primary: #{$nord10};
    --primary-hover: #{$nord9};
    --primary-focus: #{$nord9};
    --primary-inverse: var(--background-color);

    --contrast: #{$nord2};
    --contrast-hover: #{$nord1};
    --contrast-focus: #{$nord1};
    --contrast-inverse: var(--background-color);

    --mark-background-color: #{$nord13};
    --mark-color: var(--color);
    --ins-color: #{$nord14};
    --del-color: #{$nord11};

    --code-background-color: #{$nord5};
    --code-color: var(--muted-color);
    --code-kbd-background-color: var(--contrast);
    --code-kbd-color: var(--contrast-inverse);

    --card-background-color: var(--background-color);
    --card-border-color: var(--muted-border-color);
    --card-sectioning-background-color: #{$nord5};

    --tooltip-background-color: var(--contrast);
    --tooltip-color: var(--contrast-inverse);
}

// Dark scheme
[data-theme="dark"] {
    --background-color: #{$nord0};
    --color: #{$nord6};

    --h1-color: var(--color);
    --h2-color: var(--color);
    --h3-color: var(--color);
    --h4-color: var(--color);
    --h5-color: var(--color);
    --h6-color: var(--color);

    --muted-color: #{$nord4};
    --muted-border-color: #{$nord3};

    --primary: #{$nord9};
    --primary-hover: #{$nord10};
    --primary-focus: #{$nord10};
    --primary-inverse: var(--background-color);

    --contrast: #{$nord5};
    --contrast-hover: #{$nord4};
    --contrast-focus: #{$nord4};
    --contrast-inverse: var(--background-color);

    --mark-background-color: #{$nord13};
    --mark-color: var(--color);
    --ins-color: #{$nord14};
    --del-color: #{$nord11};

    --code-background-color: #{$nord1};
    --code-color: var(--muted-color);
    --code-kbd-background-color: var(--contrast);
    --code-kbd-color: var(--contrast-inverse);

    --card-background-color: var(--background-color);
    --card-border-color: var(--muted-border-color);
    --card-sectioning-background-color: #{$nord1};

    --tooltip-background-color: var(--contrast);
    --tooltip-color: var(--contrast-inverse);
}
