// flexible cards
.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .card {
        flex-grow: 1;
        width: 46%;
        margin: 0.5em;
        overflow-x: hidden;
        white-space: nowrap;

        animation: zoomIn;
        animation-duration: 1s;
    }
}

// post
.post {
    &-title {
        animation: fadeInLeft;
        animation-duration: 1s;
    }

    &-info {
        text-align: right;
        margin-bottom: 1em;
    
        animation: fadeInRight;
        animation-duration: 1s;
    }

    &-content {
        animation: fadeInUp;
        animation-duration: 1s;
    }
}

// tag cloud
.tag-cloud {
    justify-content: end !important;

    animation: fadeInRight;
    animation-duration: 1s;
}

// button box
.button-box {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    right: calc(var(--spacing) / 2 + var(--scrollbar-width, 0px));
    bottom: var(--spacing);

    button {
        border-radius: 4em;

        animation: fadeInUp;
        animation-duration: 1s;
    }
}

// search box
#search {
    &-input {
        margin-top: 1em;

        animation: zoomIn;
        animation-duration: 1s;
    }

    &-results article {
        animation: fadeInLeft;
        animation-duration: 1s;
    }
}

// profile
.profile {
    &-avatar {
        position: relative;
        top: -80px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        z-index: 2;

        animation: backInDown;
        animation-duration: 1s;

        img {
            width: 120px;
            height: 120px;
            border-radius: 60px;
        }
    }

    &-name {
        position: sticky;
        top: -1em;
        width: 80%;
        margin: -60px auto 0;
        text-align: center;
        font-family: "Allura";
        font-size: 2em;
        z-index: 2;

        animation: fadeInDown;
        animation-duration: 1s;
    }

    &-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 400px;

        img {
            margin: 0.5em;
            border-radius: 0;

            animation: rotateIn;
            animation-duration: 1s;
        }
    }

    &-info {
        margin-bottom: 0;

        &:nth-of-type(even) {
            animation: fadeInLeft;
            animation-duration: 1s;
        }

        &:nth-of-type(odd) {
            animation: fadeInRight;
            animation-duration: 1s;
        }
    }
}

// gallery for images
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .item {
        display: inline-block;
        width: 50%;
        @media (max-width: 420px) {
            width: 100%;
        }
        text-align: center;
        border-radius: 0.5em;
        box-shadow: 1px 1px 5px 0 var(--color);
        margin: 1.2em;

        img {
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            object-fit: cover;

            animation: zoomIn;
            animation-duration: 1s;
        }

        p {
            margin: 0.2em 0;

            animation: fadeInDown;
            animation-duration: 1s;
        }
    }
}

// album for images
.album {
    @extend .gallery;

    .item {
        width: 40%;
        @media (max-width: 420px) {
            width: 100%;
        }

        img {
            height: 300px;
    
            &:hover {
                object-fit: scale-down;
            }
        }
    }
}

// books
.book {
    &-shelf {
        overflow-x: scroll;
        white-space: nowrap;
    }
    
    &-tag {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
    }
    
    &-cover {
        display: inline-block;
        width: 150px;
        height: 200px;
        margin: 0 0.5em;
        object-fit: fill;
    
        animation: slideInLeft;
        animation-duration: 1.5s;
    }
    
    &-info {
        display: inline-block;
        text-align: right;
        white-space: nowrap;
    
        animation: slideInRight;
        animation-duration: 1s;
    }
}

// literature
.literature {
    margin: 0.5em auto;
    padding: 1em;
    width: fit-content;
    max-width: 100%;
    border: none;

    &.vertical {
        white-space: nowrap;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    &.classic {
        border: double var(--muted-border-color);
        border-radius: 0.5em;

        &:not(.vertical) {
            text-align: center;
            min-width: 60%;
            @media (max-width: 420px) {
                min-width: 100%;
            }
        }
    }

    &.quote {
        position: relative;
        padding: 1em 2em;
        max-width: 80%;
        @media (max-width: 420px) {
            max-width: 100%;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            font-family: "Font Awesome 6 Free";
            font-size: 2em;
            color: var(--muted-border-color);
            content: "\f10d";
        }

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            font-family: "Font Awesome 6 Free";
            font-size: 2em;
            color: var(--muted-border-color);
            content: "\f10e";
        }
    }

    header {
        text-align: center;
        font-size: 1.5em;
    }

    footer {
        text-align: right;
    }

    p {
        margin-bottom: 0;
        line-height: 1.8em;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--muted-border-color);
        text-underline-offset: 0.2em;
    }
}

// tree list
.tree-list {
    min-width: 300px;
    
    ul {
        li {
            position: relative;
            list-style: none;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            box-sizing: border-box;
            
            &::before {
                position: absolute;
                top: 15px;
                left: 0;
                width: 10px;
                height: 1px;
                margin: auto;
                content: "";
                background-color: var(--color);
            }
            
            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 1px;
                height: 100%;
                content: "";
                background-color: var(--color);
            }
            
            &:last-child::after {
                height: 15px;
            }
        }
    }
}

// close button
.close-btn {
    text-align: right;
    transition: opacity 0.5s;

    &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f00d";
    }

    &:hover {
        opacity: 0.6;
    }
}


// image frame
.img-frame {
    text-align: center;
    margin: 0.5em auto;
}

// video frame
.video-frame {
    position: relative;
    width: 80%;
    @media (max-width: 420px) {
        width: 100%;
    }
    height: 0;
    padding-top: 56.25%;
    margin: 1em auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1em;
    }
}
