// styles of customized classes

@import "custom/book.scss";
@import "custom/card.scss";
@import "custom/controller.scss";
@import "custom/decoration.scss";
@import "custom/gallery.scss";
@import "custom/list.scss";
@import "custom/literature.scss";
@import "custom/map.scss";
@import "custom/menu.scss";
@import "custom/post.scss";
@import "custom/profile.scss";
@import "custom/tags.scss";
