// nav bar
.nav {
    &-title {
        animation: 1s fadeInDown backwards;

        &:hover {
            animation: 3s hinge forwards;
        }
    }

    &-icon {
        animation: 1s fadeInDown calc(var(--ith) * 200ms) backwards;
    }
}

// flexible cards
.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .card {
        flex-grow: 1;
        margin: 0.5em;
        overflow-x: hidden;
        white-space: nowrap;

        animation: 1s zoomIn backwards;
        transition: border-radius 0.5s ease;

        &:hover {
            border-radius: 2em;
        }
    }
}

// post
.post {
    &-title {
        animation: 1s fadeInLeft backwards;
    }

    &-content {
        animation: 2s fadeIn backwards;
    }
}

// tag cloud
.tag-cloud {
    justify-content: end !important;

    animation: 1s fadeInRight backwards;
}

// button box
.button-box {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    right: calc(var(--spacing) / 2 + var(--scrollbar-width, 0px));
    bottom: var(--spacing);

    button {
        border-radius: 4em;

        animation: 1s fadeInUp backwards;
    }
}

// search box
#search {
    &-input {
        margin-top: 1em;

        animation: 1s zoomIn backwards;
    }

    &-results article {
        animation: 1s fadeInLeft backwards;
    }
}

// profile
.profile {
    &-avatar {
        position: relative;
        top: -80px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        z-index: 2;

        animation: 1s backInDown backwards;

        img {
            width: 120px;
            height: 120px;
            border-radius: 60px;
        }
    }

    &-name {
        position: sticky;
        top: -1em;
        width: 80%;
        margin: -60px auto 0;
        text-align: center;
        font: 2em "Allura";
        z-index: 2;

        animation: 1s fadeInDown backwards;
    }

    &-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 400px;

        img {
            margin: 0.5em;
            border-radius: 0;

            animation: 1s rotateIn calc(var(--ith) * 200ms) backwards;
        }
    }

    &-info {
        margin-bottom: 0;

        &-item {
            list-style: none;

            animation: 1s fadeInLeft calc(var(--ith) * 200ms) backwards;
        }
    }
}

// gallery for images
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .item {
        display: inline-block;
        width: 50%;
        @media (max-width: 420px) {
            width: 100%;
        }
        text-align: center;
        border-radius: 0.5em;
        box-shadow: 1px 1px 5px 0 var(--color);
        margin: 1.2em;

        img {
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            object-fit: cover;

            animation: 1s zoomIn backwards;
        }

        p {
            margin: 0.2em 0;

            animation: 1s fadeInDown backwards;
        }
    }
}

// album for images
.album {
    position: relative;
    width: 100%;
    height: 100vh;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0;

        &.move-in {
            animation: 1s fadeInRight backwards;
        }

        &.move-out {
            animation: 1s fadeOutLeftBig forwards;
        }
    }

    p {
        position: absolute;
        left: 1em;
        bottom: 5em;
        color: var(--background-color);
        background-color: var(--color);
        box-shadow: 0 0 0.5em 0.5em var(--color);
        margin: 0.2em 0;

        &.move-in {
            animation: 1s fadeInLeft backwards;
        }

        &.move-out {
            animation: 1s fadeOutRightBig forwards;
        }
    }
}

// books
.book {
    &-shelf {
        overflow-x: scroll;
        white-space: nowrap;
        padding: 1em 0.5em;
    }

    &-tag {
        display: flex;
        @media (max-width: 420px) {
            flex-direction: column;
        }
        width: 100%;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
    }

    &-img {
        display: inline-block;
        position: relative;
        margin: 0 0.5em;

        animation: 1s slideInLeft backwards;
        transition: all 0.2s ease;
 
        &:hover {
            transform: scale(1.1);
        }

        .cover {
            min-width: 150px;
            height: 200px;
            object-fit: fill;
            box-shadow: 5px 5px 5px var(--muted-border-color);
        }

        .mark {
            position: absolute;
            top: 5px;
            right: 10px;
            width: 10px;
            height: 10px;
            color: $nord13;
        }
    }
    
    &-info {
        display: inline-block;
        text-align: right;
        @media (max-width: 420px) {
            margin-top: 1em;
            text-align: center;
        }
        white-space: nowrap;
    
        animation: 1s slideInRight backwards;
    }
}

// literature
.literature {
    margin: 0.5em auto;
    padding: 1em;
    width: fit-content;
    max-width: 100%;
    border: none;

    &.vertical {
        white-space: nowrap;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    &.classic {
        border: double var(--muted-border-color);
        border-radius: 0.5em;

        &:not(.vertical) {
            text-align: center;
            min-width: 60%;
            @media (max-width: 420px) {
                min-width: 100%;
            }
        }
    }

    &.quote {
        position: relative;
        padding: 1em 2em;
        max-width: 80%;
        @media (max-width: 420px) {
            max-width: 100%;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            font: 2em "Font Awesome 6 Free";
            color: var(--muted-border-color);
            content: "\f10d";
        }

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            font: 2em "Font Awesome 6 Free";
            color: var(--muted-border-color);
            content: "\f10e";
        }
    }

    &.en p {
        font: 1.4em "Allura";
    }

    header {
        text-align: center;
        font-size: 1.5em;
    }

    footer {
        text-align: right;
    }

    p {
        max-width: 20em;
        word-break: keep-all;
        margin: 0 auto;
        line-height: 1.8em;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--muted-border-color);
        text-underline-offset: 0.2em;
    }
}

// tree list
.tree-list {
    min-width: 300px;
 
    ul {
        li {
            position: relative;
            list-style: none;
            margin: 0;
            padding: 5px 15px;
            box-sizing: border-box;
 
            &::before {
                position: absolute;
                top: 15px;
                left: 0;
                width: 10px;
                height: 1px;
                margin: auto;
                content: "";
                background-color: var(--color);
            }
 
            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 1px;
                height: 100%;
                content: "";
                background-color: var(--color);
            }
 
            &:last-child::after {
                height: 15px;
            }
        }
    }
}

// close button
.close-btn {
    text-align: right;
    transition: opacity 0.5s ease;

    &::before {
        font: 900 1em "Font Awesome 6 Free";
        content: "\f00d";
    }

    &:hover {
        opacity: 0.6;
    }
}

// tooltip
[data-tooltip]:not(a, button, input) {
    border: none;
}

// image frame
.img-frame {
    text-align: center;
    margin: 0.5em auto;
}

// video frame
.video-frame {
    position: relative;
    width: 80%;
    @media (max-width: 420px) {
        width: 100%;
    }
    height: 0;
    padding-top: 56.25%;
    margin: 1em auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1em;
    }
}
