---
layout: page
title: bookshelf
subtitle: nourish the mind ...
icon: "fa-solid fa-book fa-fw"
permalink: /books.html
---

{% assign booksets = site.data.book-list %}
{% for bookset in booksets %}
<details id="{{ bookset.year }}" {% if forloop.index <= 2 %}open{% endif %}>
    <summary>
        {{ bookset.year }}
        ({{ bookset.books.size }})
    </summary>
    {% assign books = bookset.books | sort:"date" %}
    {% for book in books %}
    <article class="book-tag">
        <div class="book-img">
            <img class="cover"
                src="/assets/img/covers/{{ book.title }}.jpg"
                alt="{{ book.title }}"
                onclick="location.href='{{ book.link }}'">
            {% if bookset.year == "Reading" %}<span class="mark fa-solid fa-bookmark"></span>{% endif %}
        </div>
        <hgroup class="book-info">
            <h3>{{ book.title }}</h3>
            <h4>{{ book.subtitle }}</h4>
            <h4>{{ book.author }}</h4>
            <h4><em>{{ bookset.year }}{% if book.date %}.{{ book.date }}{% endif %}</em></h4>
        </hgroup>
    </article>
    {% endfor %}
</details>
{% endfor %}
