---
layout: default
title: home
permalink: /
---

<div class="cards">
    {% assign limit = 5 %}

    <!-- posts -->
    <article class="card">
        <header onclick="location.href='/posts.html'">
            <i class="fa-solid fa-folder-open fa-fw"></i>
            <strong>Posts</strong>
        </header>

        <ul>
            {% for post in site.posts limit:limit %}
            <li>
                <span>[ {{ post.date | date:"%Y.%m.%d" }} ]</span>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="/posts.html">show {{ site.posts.size | minus:limit }} more...</a>
    </article>
    
    <!-- projects -->
    <article class="card">
        <header onclick="location.href='/projects.html'">
            <i class="fa-solid fa-cubes fa-fw"></i>
            <strong>Projects</strong>
        </header>

        <ul>
            {% assign projects = site.data.project-list | sort:"end" | reverse %}
            {% for project in projects limit:limit %}
            <li>
                {% case project.type %}
                    {% when "git" %}
                    <i class="fa-brands fa-github-alt fa-fw"></i>
                    {% when "code" %}
                    <i class="fa-solid fa-code-branch fa-fw"></i>
                    {% when "life" %}
                    <i class="fa-solid fa-map-location fa-fw"></i>
                    {% when "book" %}
                    <i class="fa-solid fa-book-reader fa-fw"></i>
                    {% else %}
                    <i class="fa-solid fa-file-archive fa-fw"></i>
                {% endcase%}
                <a href="{{ project.link }}">{{ project.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="/projects.html">show {{ projects.size | minus:limit }} more...</a>
    </article>
    
    <!-- books -->
    <article class="card">
        <header onclick="location.href='/books.html'">
            <i class="fa-solid fa-book fa-fw"></i>
            <strong>Books</strong>
        </header>

        {% assign booksets = site.data.book-list %}
        <div class="book-shelf">
            {% for bookset in booksets limit:2 %}
                {% assign books = bookset.books | sort:"date" %}
                {% for book in books %}
                <img class="book-cover"
                    src="/assets/img/covers/{{ book.title }}.jpg"
                    alt="{{ book.title }}"
                    data-target="{{ book.title }}" onclick="toggleModal(event)">
                <dialog id="{{ book.title }}"><article class="book-tag">
                    <img class="book-cover"
                        src="/assets/img/covers/{{ book.title }}.jpg"
                        alt="{{ book.title }}"
                        onclick="location.href='{{ book.link }}'">
                    <hgroup class="book-info">
                        <h3>{{ book.title }}</h3>
                        <h4>{{ book.subtitle }}</h4>
                        <h4>{{ book.author }}</h4>
                        <h4><em>{{ bookset.year }}{% if book.date %}.{{ book.date }}{% endif %}</em></h4>
                    </hgroup>
                </article></dialog>
                {% endfor %}
            {% endfor %}
            <a href="/books.html">show more...</a>
        </div>
    </article>
</div>
