---
layout: page
title: bookshelf
subtitle: nourish the mind ...
permalink: /books.html
---

{% assign booksets = site.data.books %}
{% for bookset in booksets %}
<details {% if forloop.index <= 2 %}open{% endif %}>
    <summary>{{ bookset.year }} ({{ bookset.books.size }})</summary>
    {% assign books = bookset.books | sort:"date" %}
    {% for book in books %}
    <article class="book-card" {% if bookset.year == "Reading" %}ribbon{% endif %}>
        <div class="book-img"><a href="{{ book.link }}">
            <img class="cover" src="/assets/img/covers/{{ book.title }}.jpg" alt="{{ book.title }}">
        </a></div>
        <hgroup class="book-info">
            <h3>{{ book.title }}</h3>
            <h4>{{ book.subtitle }}</h4>
            <h4>{{ book.author }}</h4>
            <h4><em>{{ bookset.year }}{% if book.date %}.{{ book.date }}{% endif %}</em></h4>
        </hgroup>
    </article>
    {% endfor %}
</details>
{% endfor %}
