---
layout: default
title: profile
permalink: /profile.html
required: no-footer
---

<article class="profile">
    <header class="card">
        <div class="profile-avatar"><img src="/assets/img/avatar.jpeg"></div>
        <div class="profile-name">Peng Ao</div>
    </header>

    <!-- skills -->
    <div class="profile-icons">
        {% assign skills = site.data.profiles.skills | sort:"info" %}
        {% for skill in skills %}
        <img src="https://cdn.simpleicons.org/{{ skill.info }}/{{ skill.color }}"
            width="32px" height="32px" style="--ith: {{ forloop.index0 }}">
        {% endfor %}
    </div>

    <hr>
    
    <!-- information -->
    <ul class="profile-info">
        {% for information in site.data.profiles.information %}
        <li class="profile-info-item" style="--ith: {{ forloop.index0 }}">
            <i class="{{ information.icon }}"></i> {{ information.info }}
        </li>
        {% endfor %}
    </ul>

    <hr>
    
    <!-- identity -->
    <ul class="profile-info">
        {% for identity in site.data.profiles.identities %}
        <li class="profile-info-item" style="--ith: {{ forloop.index0 }}">
            <i class="{{ identity.icon }}"></i> {{ identity.info }}
        </li>
        {% endfor %}
    </ul>

    <hr>
    
    <!-- hobby -->
    <ul class="profile-info">
        {% for hobby in site.data.profiles.hobbies %}
        <li class="profile-info-item" style="--ith: {{ forloop.index0 }}">
            <i class="{{ hobby.icon }}"></i> {{ hobby.info }}
        </li>
        {% endfor %}
    </ul>
    
    <footer class="card">
        <ul class="profile-info">
            {% for friend in site.data.profiles.friends %}
            <li class="profile-info-item"
                style="--ith: {{ forloop.index0 }}"
                {% if friend.marked %}heart{% endif %}
            ><small>
                <i class="fa-solid fa-user-group fa-fw"></i>
                <a href="{{ friend.link }}" data-tooltip="{{ friend.info }}">{{ friend.name }}</a>
            </small></li>
            {% endfor %}
        </ul>
    </footer>
</article>
