---
layout: page
title: tags
subtitle: categorize by tags ...
icon: "fa-solid fa-tags fa-fw"
permalink: /tags.html
---

{% for tag in site.tags %}
<details id="{{ tag[0] }}">
    <summary>
        {{tag[0]}}
        ({{ tag[1].size }})
    </summary>
    {% for post in tag[1] %}
    <article>
        <!-- tag cloud -->
        <nav class="tag-cloud" aria-label="breadcrumb">
            <ul>
                {% for tag in post.tags %}
                <li><a href="/tags.html#{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <!-- post title -->
        <hgroup class="post-title" onclick="location.href='{{ post.url }}'">
            <small><em>{{ post.date | date:"%Y.%m.%d" }}</em></small>
            <h3>{{ post.title}}</h3>
            <h4><em>{{ post.subtitle }}</em></h4>
        </hgroup>
    </article>
    {% endfor %}
</details>
{% endfor %}

<script>
    window.addEventListener("load", () => {
        tag = window.decodeURI(window.location.hash).substring(1)
        if (tag.length > 0) {
            document.getElementById(tag).open = true
        }
    })

    window.addEventListener("hashchange", () => {
        tag = window.decodeURI(window.location.hash).substring(1)
        document.querySelectorAll("details").forEach((details) => {
            details.open = details.id === tag
        })
        document.getElementById(tag).scrollIntoView()
    })
</script>
