<!DOCTYPE html>
<html lang="{{ page.lang | default: 'zh' }}" data-theme="dark">
    {% include head.html %}
    <body>
        {% include controller.html %}

        {% if page.required contains "with-header" %}
        <header>
            <hgroup>
                <h1>{{ site.header }}</h1>
                <h3><em id="typed-elem"></em>&nbsp;</h3>
            </hgroup>
            <datalist id="typed-strings">
                {% for identity in site.data.profiles.identities %}
                <option>{{ identity.info }}</option>
                {% endfor %}
            </datalist>
            <script>new Typed("#typed-elem", {stringsElement: "#typed-strings", typeSpeed: 80, loop: true, showCursor: false})</script>
        </header>
        {% endif %}

        <main>{{ content }}</main>

        {% unless page.required contains "no-footer" %}
        <footer>
            <small>by {{ site.author }} with <i class="fa-solid fa-heart fa-fw faa-pulse faa-slow animated"></i></small><br>
            <small><i class="fa-regular fa-copyright fa-fw"></i> 2021 - 2024</small><br>
            <small id="site-view"></small>
        </footer>
        {% endunless %}
    </body>
</html>
