---
layout: default
---

<article>
    <header>
        <!-- tag cloud -->
        <nav class="post-tags" aria-label="breadcrumb"><ul>
            {% for tag in page.tags %}
            <li><a href="/archive.html?tag={{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul></nav>

        <!-- post title -->
        <hgroup class="post-title">
            {% assign date = page.date %}
            {% unless date contains "~" %}
                {% assign date = page.date | date:"%Y.%m.%d" %}
            {% endunless %}
            <small><em>{{ date }}</em></small>
            <h1>{{ page.title }}</h1>
            <h2><em>{{ page.subtitle }}</em></h2>
        </hgroup>
    </header>

    <main>
        {% assign post_word = page.content | strip_html | strip_newlines | remove: " " | size  %}
        {% assign post_time = post_word | divided_by:200.0 | round:1 | at_least:1.0 %}
        <section class="post-counter">
            <span class="post-counter-word">{{ post_word }}</span>
            <span class="post-counter-time">{{ post_time }}</span>
        </section>
        {% assign post_class = "post-content" %}
        {% if page.required contains "plain-header" %}
            {% assign post_class = post_class | append:"-plain" %}
        {% endif %}
        <section class="{{ post_class }}">{{ content }}</section>
    </main>

    <footer>
        <!-- button bar -->
        <nav>
            <!-- previous post button -->
            {% if page.previous %}
            <a class="faa-parent animated-hover" href="{{ page.previous.url | relative_url }}" data-tooltip="{{ page.previous.title }}">
                <i class="fa-solid fa-arrow-circle-left faa-horizontal faa-reverse"></i>
            </a>
            {% else %}
            <span><!-- dummy --></span>
            {% endif %}

            <!-- page top button -->
            <a class="faa-parent animated-hover" onclick="window.scrollTo({ top:0, behavior: 'smooth' })" data-tooltip="back2top">
                <i class="fa-solid fa-arrow-circle-up faa-vertical"></i>
            </a>

            <!-- next post button -->
            {% if page.next %}
            <a class="faa-parent animated-hover" href="{{ page.next.url | relative_url }}" data-tooltip="{{ page.next.title }}">
                <i class="fa-solid fa-arrow-circle-right faa-horizontal"></i>
            </a>
            {% else %}
            <span><!-- dummy --></span>
            {% endif %}
        </nav>

        <!-- comment block -->
        {% include comment.html %}
    </footer>
</article>

{% include toc.html %}
