---
layout: page
---

<div id="page-top"></div>

<article>
    <!-- header -->
    <header><hgroup>
        <!-- tag cloud -->
        <nav class="tag-cloud" aria-label="breadcrumb">
            <ul>
                {% for tag in page.tags %}
                <li><a href="/tags.html#{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <!-- post title -->
        <div class="post-title">
            <small><em>{{ page.date | date:"%Y.%m.%d" }}</em></small>
            <h1>{{ page.title }}</h1>
            <small>{{ page.sub-title }}</small>
        </div>
    </hgroup></header>

    <!-- main content -->
    <div id="post">{{ content }}</div>

    <!-- footer -->
    <footer>
        <!-- button bar -->
        <nav>
            <!-- previous post button -->
            {% if page.previous %}
            <a href="{{ page.previous.url | relative_url }}" class="faa-parent animated-hover">
                <i class="fa-solid fa-arrow-circle-left faa-horizontal faa-reverse"></i>
            </a>
            {% else %}
            <span><!-- dummy --></span>
            {% endif %}

            <!-- page top button -->
            <a href="#page-top" class="faa-parent animated-hover">
                <i class="fa-solid fa-arrow-circle-up faa-vertical"></i>
            </a>

            <!-- next post button -->
            {% if page.next %}
            <a href="{{ page.next.url | relative_url }}" class="faa-parent animated-hover">
                <i class="fa-solid fa-arrow-circle-right faa-horizontal"></i>
            </a>
            {% else %}
            <span><!-- dummy --></span>
            {% endif %}
        </nav>

        <!-- comment block -->
        {% include comment.html %}
    </footer>
</article>

<!-- table of contents -->
<dialog id="toc"><article>
    <a class="close" href="#close" aria-label="Close" data-target="toc" onClick="toggleModal(event)"></a>
</article></dialog>

<!-- auxiliary scripts -->
<script>
    window.addEventListener("load", () => {
        const post = document.getElementById("post")
        // make table scrollable
        post.querySelectorAll("table").forEach(tbl => {
            tbl.outerHTML = `<figure>${tbl.outerHTML}</figure>`
        })
        // add a sidebar button for toc
        let button = document.createElement("button")
        button.className = "contrast faa-parent animated-hover"
        button.setAttribute("data-target", "toc")
        button.onclick = toggleModal
        button.innerHTML = `<i class="fa-solid fa-bars-staggered faa-shake faa-slow"></i>`
        document.querySelector(".button-box").appendChild(button)
        // generate toc
        let prevTag = "", currTag = "", tagStack = new Array()
        let toc = document.createElement("div")
        toc.className = "tree-list"
        toc.innerHTML = "TOC" + Array.from(post.querySelectorAll("h1, h2, h3, h4")).reduce((toc, header) => {
            currTag = header.tagName
            if (currTag > prevTag) { // h1 -> h2, h2 -> h3
                toc += `<ul><li><a href="#${header.id}">${header.textContent}</a>`
                tagStack.push("</ul>")
                tagStack.push("</li>")
            } else if (currTag == prevTag) { // h1 -> h1, h2 -> h2, h3 -> h3
                toc += tagStack.pop() // </li>
                toc += `<li><a href="#${header.id}">${header.textContent}</a>`
                tagStack.push("</li>")
            } else { // h3 -> h2, h3 -> h1, h2 -> h1
                toc += tagStack.pop() // </li>
                for (let i = 0; i < (prevTag[1] - currTag[1]); i++) {
                    toc += tagStack.pop() // </ul>
                    toc += tagStack.pop() // </li>
                }
                toc += `<li><a href="#${header.id}">${header.textContent}</a>`
                tagStack.push("</li>")
            }
            prevTag = currTag
            return toc
        }, "") + tagStack.reduce((a, b) => a + b, "")
        document.querySelector("#toc > article").appendChild(toc)
    })
</script>
