---
layout: default
---

<article>
    <header class="card-gradient" {% if page.marked %}ribbon="tl"{% endif %}>
        <!-- post tags -->
        <nav class="post-tags" aria-label="breadcrumb"><ul>
            {% for tag in page.tags %}
            <li><a href="/archive.html?tag={{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul></nav>

        <!-- post title -->
        <hgroup class="post-title">
            {% assign date = page.date %}
            {% unless date contains "~" %}
                {% assign date = page.date | date:"%Y.%m.%d" %}
            {% endunless %}
            <small><em>{{ date }}</em></small>
            <h1>{{ page.title }}</h1>
            <h2><em>{{ page.subtitle }}</em></h2>
        </hgroup>
    </header>

    {% assign post_word = page.content | strip_html | strip_newlines | remove: " " | size  %}
    {% assign post_time = post_word | divided_by:200.0 | round:1 | at_least:1.0 %}
    <section class="post-info">
        <div>
            <i class="fa-brands fa-creative-commons"></i>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA</a>
        </div>
        <div>
            <i class="fa-solid fa-spell-check fa-fw"></i> {{ post_word }}
            <i class="fa-solid fa-stopwatch fa-fw"></i> {{ post_time }}
        </div>
    </section>
    <section class="post-content">{{ content }}</section>

    <footer class="card-gradient">
        <!-- post buttons -->
        {% assign prev = page.previous %}
        {% assign next = page.next %}
        {% if prev or next %}
        <nav class="post-buttons">
            {% unless prev %}{% assign prev = site.posts | first %}{% endunless %}
            <a class="post-buttons-prev" href="{{ prev.url }}">{{ prev.title }}</a>
            {% unless next %}{% assign next = site.posts | last %}{% endunless %}
            <a class="post-buttons-next" href="{{ next.url }}">{{ next.title }}</a>
        </nav>
        {% endif %}

        <!-- comment block -->
        {% include comment.html %}
    </footer>
</article>

{% include toc.html %}
